


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/Images/cafe3.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body>

<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    
    <div class="w3-col s3">
      <a routerLink="/register" class="w3-button w3-block w3-black">User Registeration</a>
    </div>
    <div class="w3-col s3">
      <a routerLink="/oregister" class="w3-button w3-block w3-black">Workspace Registeration</a>
    </div>
    <div class="w3-col s3">
      <a routerLink="/login" class="w3-button w3-block w3-black">User Login</a>
    </div>
    <div class="w3-col s3">
      <a routerLink="/loginowner" class="w3-button w3-block w3-black">Workspace Login</a>
    </div>
  </div>
</div>


<div class="w3-sand w3-grayscale w3-large">

<div class="w3-container" id="home">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">BookMyPlace</span></h5>
    <p>BookMyPlace provides calm, inspiring, ready to use workspace that has everything you need to grow your venture and be successful, including super fast Internet, conference rooms, and IT services. 
        Our quirky, fun workspaces are your home away from home. Members have access to these amenities all day. Yes we run in India, US and UK shifts.</p>
    
      <p>BookMyPlace is dedicated to providing the most relevant and valuable services available to our members. We are dedicated to working closely with our partners to provide services and benefits that will make a difference.</p>
    
    <img src="../../assets/Images/cafe2.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p><strong>Opening hours:</strong> everyday from 11am to 5pm.</p>
    
  </div>
</div>

</div>

</body>
</html>
